
<% provide(:title, "Home") %>


<% if logged_in? %>
  <div class ="well gray" >
  <p> Hello <%= current_user.name %>! Welcome to our beta site! This is an extremely basic working form of the site for users to test while we develop a streamlined platform for FoodMade!</p>

<% if current_user.admin? %>
<%= link_to("Users", "/users", class: "btn btn-default") %>
  <strong><p> Here are your messages: </p></strong>
<% current_user.messages.reverse.each do |m| %>  
</p>  <%= simple_format(m) %> </p>
___________________________________<br>

<% end %>
<% else %>
<%= form_tag users_path, :method => 'get', :class => "navbar-form" do %>
    <%= text_field_tag :zip, params[:search], :class => "form-control", :value => "#{current_user.zipcode}" %>
    <%= submit_tag "Find Chefs", :name => nil, class: "btn btn-default zipsearch"  %>

<% end %>
<% end %>
<% if !current_user.chef? %>
<%= form_tag({controller: "users", action: "chefrequest"}, method: "get") do %>
    <%= label_tag(:content, "Request to be a chef!:") %>
    <p>Please specify your full name, location, and what you wish to cook. Thank you. </p>
    <%= text_area_tag(:content)  %>
    <%= submit_tag("Send") %>
<% end %>
<% else %>
<% current_user.reservations.received.reverse.each do |reservation| %>
  <%= reservation.order %> | at <%= reservation.time %> | from <%= User.find(reservation.sender_id).name %>
  |
<% if !reservation.confimation? %> 
<%= link_to "Confirm", {:controller => "reservations", :id => reservation.id, :action => "confirm_reservation"}, {:method => :put, :confirmation => true,
data: { confirm: "Confirm reservation?" }, class: "btn btn-sm btn-warning"} %>
<%= link_to "Deny", {:controller => "reservations", :id => reservation.id, :action => "deny_reservation"}, {:method => :put, :confirmation => false,
data: { confirm: "Deny reservation?" }, class: "btn btn-sm btn-warning"} %>

<% end %>
<br>
<% end %>
<% end %>

  </div>
<% else %>
  <% flash[:danger] = "Please log in." %>
    <script type="text/javascript">
    window.location.href="/login"  // put your correct path in a string here
  </script>
<% end %>

