
<% provide(:title, 'Update Profile') %>

<div class = "well gray signupcenter">
<h1><center><strong>Update Profile</strong></center></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

     <!--- <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %> --->
<br>

      <%= f.submit "Save Changes", class: "btn btn-warning" %>
    <% end %>
	<%= link_to "Reset Password", new_password_reset_path %>
	<br>
	<center>    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">Change</a>
    </div></center
	<br>
	<br>
  </div>
</div>
</div>
